body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(24, 24, 24);
    color: white;
    align-self: center;
    text-align: center;
}

h1 {
    margin-bottom: 0;
    font-weight: 800;
}

h2 {
    color: #a7a7a7;
    margin-top: 3px;
}

h3 {
    font-weight: 400;
    margin-left: 10px;
    margin-right: 10px;
}

.twoRow {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.horHor {
    width: 45%;
    position: relative;
    margin-bottom: 1px;
}

img {
    border-radius: 5px;
    display: block;
    width: 100%;
}

.metaData {
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: #00000095;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-content: center;
    border-radius: 5px;
    display: none;
    flex-wrap: wrap;
}

.data {
    width: 40%;
    height: 20px;
    text-align: center;
    font-weight: 700;
}