body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(24, 24, 24);
    color: white;
    align-self: center;
    text-align: center;
}

h1 {
    margin-bottom: 0;
}

h2 {
    color: #a7a7a7;
    margin-top: 3px;
}

h3 {
    font-weight: 500;
}

.twoRow {
    display: flex;
    justify-content: center;
    gap: 10px;
    
}

.horHor {
    width: 50%;
    position: relative;
    margin-bottom: 10px;
}

.hor {
    width: 69.23%;
    position: relative;
    margin-bottom: 10px;
}

.ver {
    width: 30.77%;
    position: relative;
    margin-bottom: 10px;
}

img {
    border-radius: 5px;
    display: block;
    width: 100%;
}

#pic03434 {
    width: 100%;
}

.metaData {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    background-color: #00000095;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-content: center;
    border-radius: 5px;
    display: none;
}

.data {
    width: 40%;
    height: 20px;
    text-align: center;
    font-weight: 700;
}