body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(24, 24, 24);
    color: white;
    align-self: center;
    text-align: center;
}

h1 {
    margin-bottom: 0;
    font-weight: 800;
}

h2 {
    color: #a7a7a7;
    margin-top: 3px;
}

h3 {
    font-weight: 400;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    height: 25px;
    font-size: 1.1rem;
}

p {
    font-size: 1.1rem;
}

hr {
    width: 80%;
}

.twoRow {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.horHor {
    width: 45%;
    position: relative;
    margin-bottom: 1px;
}

img {
    border-radius: 5px;
    display: block;
    width: 100%;
}

.metaData {
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: #00000095;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-content: center;
    border-radius: 5px;
    display: none;
    flex-wrap: wrap;
}

.data {
    width: 40%;
    height: 20px;
    text-align: center;
    font-weight: 700;
}

button {
    color: #ffffff;
    background-color: #5a5a5a;
    font-size: .9rem;
    font-weight: 500;
    height: 22px;
    width: 100px;

    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;

    margin-top: 0px;
}

button:hover {
    width: 110px;
    transition: .2s;
}

button:active {
    width: 130px;
    transition: .1s;
}

#activateButton {
    font-size: .95rem;
    width: 250px;
    height: 25px;

    margin-top: 14px;
    margin-bottom: 15px;

    display: none;
}

#activateButton:hover {
    width: 262px;
}

#activateButton:active {
    width: 280px;
}

/*53px*/